.body {
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.playlist {
    margin-bottom: 10px;
}

.playlist_add {
    
}

.playlist_title {
    font-size: xx-large;
}

.title_add {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.title_description {
    margin-left: 20px;
}

.title_video {
    text-align: center;
}

.title_name {
    font-size: xx-large;
}

.title_publication {
    font-size: large;
}

.inner_commentary {
    margin: 10px;
}

.title_commentary {
    font-size: medium;
}

.title_commentary_add {

}

.user_picture {
    display: inline;
    width: 48px;
    border-radius: 60px;
}

.user_name {
    display: inline;
    font-size: medium;
    margin-left: 10px;
}

.user_publication {
    display: inline;
    float:right;
    margin-top:10px;
    font-size:small
}

.commentary_title {
    font-size: large;
    font-weight: bold;
}

.commentary_user {
    display:inline;
    font-weight:bold;
    font-size:small;
}

.commentary_publication {
    display: inline;
    float:right;
    font-size:small;
}

.base {
    margin-top: 50px;
}

.profile-picture {
    max-width: 250px;
}

.content-block {
    background: #F7F7F9;
}

.profile-content {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.label-profile {
    margin-right: 10px;
}

.playlist-list-item {
    height: 200px;
    overflow: auto;
}

.form-base {
    margin-bottom: 20px;
}